<table border="1">
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Details</th>
        <th>Size</th>
        <th>Action</th>
    </tr>
    <% for (var i=0;i<mydata.length; i++) { %>
    <tr>
        <td><%= i+1 %></td>

        <td><%= mydata[i].ptype %></td>

        <td><%= mydata[i].pdetails %></td>

        <td><%= mydata[i].psize %></td>

        <td>
            <a href="/edit-product/<%= mydata[i]._id %>">Edit</a> | 
            <a href="/delete-product/<%= mydata[i]._id %>">Delete</a>
        </td>
    </tr>
    <% } %>
</table>